{% extends 'base.html' %}

{% load static %}

{% block title %} Infomation Technology - Web Developer News {% endblock %}

{% block content %}
<!-- Main Navigation & Loader -->
{% include 'partials/_headerNavBlog.html' %}

<!-- Mobile Navigation -->
{% include 'partials/_mobilenavBlog.html' %}

<!-- Content -->
<div id="content" class="bg-grey">

    <!-- Section - Latest Posts -->
    <section id="posts" class="section bg-grey padding-v-60">

        <!-- Content -->
        <div class="container container-wide">

            <h6 class="margin-b-50">Blog Page</h6>
            <div class="row masonry">
                <!-- Masonry Sizer -->
                <div class="masonry-sizer col-lg-4 col-sm-6 col-xs-12"></div>    
                <!-- Masonry Element / Post -->
                {% for post in posts_list %}
                <article class="post post-item masonry-item col-lg-4 col-sm-6 col-xs-12">
                    {% if post.featured %}
                    {% else %}
                    <div class="post-photo">
                        <img src="{{ post.thumbnail.url }}" alt="...">
                    </div>
                    {% endif %}
                    <div class="post-content animated" data-animation="fadeInUp">
                        <div class="meta">
                            <span><i class="fa fa-comment"></i><a href="{% url 'post' post.slug %}#disqus_thread"></a></span>
                            <span><i class="fa fa-user"></i><a href="{% url 'index' %}#start">{{ post.author }}</a></span>
                            <span><i class="fa fa-tag"></i>
                                {% for cat in post.categories.all %}
                                <a href="{% url 'category' cat.cat_slug %}">{{ cat }}</a>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="date">{{ post.timestamp|timesince }} ago</div>
                        <h1><a href="#">{{ post.title }}</a></h1>
                        <p class="lead">{{ post.title_def }}</p>
                        <p> {{ post.overview|truncatewords:25 }} </p>
                        <a href="{% url 'post' post.slug %}" class="btn btn-primary btn-xs"><span>Read more</span><i class="ti-arrow-right"></i></a>
                    </div>
                </article>

                {% endfor %}
            </div> 

            <!-- Pagination -->
            <nav class="text-center">
                {% if posts_list.has_other_pages %}
                    <ul class="pagination">
                        {% if posts_list.has_previous %}
                            <li><a href="?page={{posts_list.previous_page_number}}" aria-label="Previous"><i class="ti-arrow-left"></i></a></li>
                        {% else %}
                            <!--<li><a href=""><i class="ti-arrow-left disabled"></i></a></li>-->
                        {% endif %}
                        {% for i in posts_list.paginator.page_range %}
                            {% if posts_list.number == i %}
                                <li class="active"><a href="">{{i}}</a></li>
                            {% else %}
                                <li><a href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if posts_list.has_next %}
                            <li><a href="?page={{posts_list.next_page_number}}" aria-label="Next"><i class="ti-arrow-right"></i></a></li>
                        {% else %}
                            <!--<li><a href="#" aria-label="Next"><i class="ti-arrow-right disabled"></i></a></li>-->
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>

        </div>
        
    </section>
    <!-- Section - Latest Posts / End -->
    <footer id="footer" class="bg-blue-dark padding-v-40 dark text-center">
        <div class="section-content copyright margin-b-20">
            Copyright <strong>JohnDev.</strong> 2019©. Made with passion by <a href="#"><strong>JohnDev</strong></a>
        </div>
        <span data-target="local-scroll"><a href="#start" class="back-to-top"><i class="fa fa-chevron-up"></i></a></span>
    </footer>
    <!-- Footer / End -->
</div>
<!-- Content / End -->

{% endblock %}